# Loop

## For Loop

In [3]:
print('This year is 2024')
print('This year is 2025')
print('This year is 2026')
print('This year is 2027')
print('This year is 2028')

This year is 2024
This year is 2025
This year is 2026
This year is 2027
This year is 2028

In [5]:
list1 = [2024, 2025, 2026, 2027, 2028]

In [7]:
list1[0]

2024

In [9]:
list1[3]

2027

In [11]:
list1[0]

2024

In [13]:
list1[1]

2025

In [15]:
list1[3]

2027

In [17]:
list1[4]

2028

In [21]:
list1[-4]

2025

In [23]:
list1[-1]

2028

In [25]:
list1[-2]

2027

In [27]:
list1[-3]

2026

In [29]:
list1[-5]

2024

## Length

In [34]:
length = len(list1)

In [36]:
print(length)

5

In [38]:
list1[length-1]

2028

## Use the For Loop

In [42]:
for num in list1 :
    print('This year is ', num)

This year is  2024
This year is  2025
This year is  2026
This year is  2027
This year is  2028

In [44]:
fruits = ['apple', 'banana' , 'grapes' , 'guava' , 'oranges']

In [46]:
for type_of_fruit in fruits :
    print("You have ", type_of_fruit)

You have  apple
You have  banana
You have  grapes
You have  guava
You have  oranges

## Range of number

In [49]:
list2 = [2022, 2023, 2024, 2025, 2026]

In [51]:
list2

[2022, 2023, 2024, 2025, 2026]

In [55]:
list(range(2022, 2026))

[2022, 2023, 2024, 2025]

In [61]:
for year in range(2022, 2026):
    print("This year is ", year)

This year is  2022
This year is  2023
This year is  2024
This year is  2025

In [63]:
year = 2022
for i in range(0, 4):
    print("This year is ", year)

This year is  2022
This year is  2022
This year is  2022
This year is  2022

In [65]:
year = 2022
for i in range(0, 4):
    print("This year is ", year)
    year = year + 1

This year is  2022
This year is  2023
This year is  2024
This year is  2025

In [67]:
year = 2022
for i in range(0, 4):
    print("This year is ", year)
    year += 1

This year is  2022
This year is  2023
This year is  2024
This year is  2025

In [69]:
for num in list1:
    print("This year is", num)

This year is 2024
This year is 2025
This year is 2026
This year is 2027
This year is 2028

In [71]:
for num in range(2022, 2026):
    print("This year is ", num)

This year is  2022
This year is  2023
This year is  2024
This year is  2025

## Get the number from the usre

In [76]:
num = int(input("Enter a number"))

for i in range(1, 15):
    print(f"{num}*{i} = {num * i}")

Enter a number 4

4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
4*11 = 44
4*12 = 48
4*13 = 52
4*14 = 56

In [78]:
num = int(input("Enter a number"))

for i in range(1, 15):
    print(f"{num}*{i} = {num * i}")

Enter a number 20

20*1 = 20
20*2 = 40
20*3 = 60
20*4 = 80
20*5 = 100
20*6 = 120
20*7 = 140
20*8 = 160
20*9 = 180
20*10 = 200
20*11 = 220
20*12 = 240
20*13 = 260
20*14 = 280

#### Write a pytho program to find the sum of all even numbers from 1 to 50

In [86]:
total_num = 0

for num in range(1, 51):
    if num % 2 == 0:
        total_num += num
    else:
        pass
print(f"Th total sum of the even numbers is {total_num}")

Th total sum of the even numbers is 650

#### Find the factorial of a number . Take the input from the user

In [91]:
var = int(input("Enter any number: "))
num = 1

for i in range(1, var + 1):
    num = num * i
print(num)

Enter any number:  2

2

In [93]:
var = int(input("Enter any number: "))
num = 1

for i in range(1, var + 1):
    num *= i
print(num)

Enter any number:  4

24

In [95]:
var = int(input("Enter any number: "))
num = 1

for i in range(1, var + 1):
    num *= i
print(num)

Enter any number:  5

120

# While Loop

In [ ]:
# while condition:
#    Do something

In [100]:
counter = 1

while counter <= 5:
    print(counter)
    counter += 1

1
2
3
4
5

In [110]:
# Sum of Natural Number upto given number
n = int(input("Enter natural number: "))

Enter natural number:  55

In [112]:
total_sum = 0
i = 1

while i <= n :
    total_sum += 1
    i += 1
print("The sum is: ", total_sum)

The sum is:  55

In [114]:
# Find out the first number which is divisible by 3 and 7
num = 1

while True:
    if num % 3 == 0 and num % 7 == 0:
        print("The first number divisble by both 3 and 7 is: ", num)
        break
    num += 1

The first number divisble by both 3 and 7 is:  21

In [116]:
# asking for input until a number is posisitive
num = 0

while num <= 0 :
    num = int(input("Enter a positive number:"))
print("The number that you entered is: ", num)

Enter a positive number: -1
Enter a positive number: -29
Enter a positive number: 10

The number that you entered is:  10